<html xmlns:th="http://www.thymeleaf.org">
<h1 th:text="#{label.form.title}">form</h1>
<form action="#" th:action="@{register}" th:object="${customer}" method="POST" enctype="utf8">
    <div>
        <label >first</label>
        <input th:field="*{fName}"/>
        <p th:each="error: ${#fields.errors('fName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label >last</label>
        <input th:field="*{lName}"/>
        <p th:each="error : ${#fields.errors('lName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label >email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label >password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>

    <button type="submit">submit</button>
</form>

</body>
</html>